h1.small {
  font-size: 1.5em;  
}

ul, ol, li {
  width: 100%;
}
span.bgwhite {
  color: #222;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 50px white;
}

.txt-left {
  text-align: left;
}

#flosslogo {
  margin: 0;
  border: none;
  width: 40%;
  box-shadow: none;
}

[class*='icon__'] {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}